.total-cost{
    color:goldenrod;
}
.summary{
    text-align:center;
}
.cart{
    position:sticky;
    top:155px;
}
.order-review-button{
    outline:none;
    background:goldenrod;
    color:white;
    padding:5px 30px;
    border:none;
    border-radius:5px;
    
}